
html
  body
    scale: 0.4
    //font-size: 4px !important
    background-color: white

@media (min-width: calc(1280px * 0.6))
  html
    body
      scale: 0.6
      //font-size: 8px !important
      background-color: red

@media (min-width: calc(1920px * 0.6))
  html
    body
      scale: 0.8
      //font-size: 12px !important
      background-color: blue

@media (min-width: calc(2560px * 0.6))
  html
    body
      scale: 1
      //font-size: 16px !important
      background-color: green
