* {
  font-family: "DM Mono", monospace;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-weight: 100;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 32rem;
  background-color: #181818;
  overflow: clip;
  font-size: 16px;
}

h1, h2 {
  width: 1ch;
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-weight: 100;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

.description-overlay {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  position: absolute;
  gap: 1rem;
  padding: 1rem;
  width: 18rem;
  overflow: clip;
  opacity: 0;
  transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;
  box-sizing: content-box;
  transform: translateX(0%);
}
.description-overlay::before, .description-overlay::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.5rem;
  box-sizing: border-box;
  clip-path: inset(0 calc(100% - 1rem) 0 0);
}
.description-overlay::after {
  clip-path: inset(0 0 0 calc(100% - 1rem));
}
.description-overlay p {
  font-size: 1rem;
}

.surname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}
.surname div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}
.surname div.myname :last-child {
  animation: dot 2s 0s steps(2) infinite;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}
nav .button {
  position: relative;
  font-size: 1.25rem;
  color: #8c8c8c;
  padding: 0 0 0.5rem 0;
  cursor: pointer;
  flex: 0.3333333333;
  transition: flex 0.2s, background-color 0.5s, color 0.5s;
  font-weight: 200;
}
nav .button::before, nav .button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #8c8c8c;
  z-index: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 10rem;
}
nav .button::after {
  background-color: #FFFFFF;
  z-index: 1;
  width: 0;
  transition: background-color 0.5s, width 0.5s;
}
nav .button.active {
  flex: 0.5;
  color: #FFFFFF;
  transition: flex 0.2s, background-color 0.2s, color 0.2s;
}
nav .button.active::after {
  transition: background-color 0.2s, width 0.2s;
  background-color: #FFFFFF;
  width: 100%;
}

.projects-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.projects-container::-webkit-scrollbar {
  z-index: -1;
  width: 0.2rem;
}
.projects-container::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 10rem;
}
.projects-container .project-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 4.75rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  transition: height 0.2s, transform 0.2s;
  cursor: pointer;
  scroll-snap-align: start;
}
.projects-container .project-card h3::before {
  content: "/ ";
}
.projects-container .project-card .project-link {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.projects-container .project-card::after {
  content: "";
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%;
}
.projects-container .project-card:last-of-type {
  margin-bottom: 0;
}
.projects-container .project-card .project-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1.5rem;
  z-index: 2;
}
.projects-container .project-card:hover {
  transform: translateX(2%);
}
.projects-container .project-card:hover h3::before {
  content: "> ";
}
.projects-container .project-card:hover::before {
  opacity: 1;
}
.projects-container .project-card .img-wrapper {
  position: absolute;
  height: 100%;
  z-index: 1;
  right: 0;
}
.projects-container .project-card .img-wrapper img {
  position: absolute;
  top: 50%;
  right: 0;
  height: 20rem;
  transform: translate(30%, -50%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 40% 100%);
  opacity: 0.7;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/*# sourceMappingURL=main.css.map */
