
@media (orientation: portrait) {

    p {
        margin-top: 0;
    }

    a {
        color: var(--text);
    }

    h1 {
        font-family: monospace;
        color: var(--text);
        margin-left: 5%;
        margin-top: 3%;
        font-weight: bolder;
        width: 90%;
        font-size: 6vw;
    }

    button {
        border: none;
        background: red;
    }

    .normal-text {
        font-family: monospace;
        color: var(--text);
        width: 90%;
        padding: 5%;
        font-size: 18px;
    }

    .line {
        height: 1vw; width: 80%;
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-left: 50%;
        transform: translate(-50%);
        background-color: var(--dark);
        border-radius: 1vw;
    }

    .project-tab {
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .project-page {
        width: 100%;
        margin-bottom: 5vw;
        background: var(--dark);
        border-radius: 5vw;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }

    .project-demo {
        margin-left: 50%;
        transform: translate(-50%);
        width: 100%;
        border-radius: 2vw;
        border-bottom-left-radius: 0vw;
        border-bottom-right-radius: 0vw;
    }

    .name-tab {
        text-align: left;
        height: 14vw;
        width: 90%;
        display: flex;
        margin: 5%;
        margin-left: 50%;
    }

    .surname {
        font-family: monospace;
        font-size: 6vw;
        font-weight: bolder;
        color: var(--text);
        animation: dot 2s step-end infinite;
        margin-left: 1vw;
        clip-path: polygon(0% 0%,
                   30% 0%,
                   30% 15%,
                   100% 15%,
                   100% 100%,
                   0% 100%);
    }

    #face-jpg {
        height: 100%;
        border-radius: 100%;
    }

    .face {
        width: 20vw;
        margin-right: 1vw;
    }

}
