
$white90: #E6E6E6
$white96: #F5F5F4

$brown96: #F6F5F4
$brown90: #E9E6E2
$brown80: #D2CDC6
$brown70: #BAB4AB
$brown50: #878178
$brown40: #6C6760
$brown30: #544E45

@media (max-aspect-ratio: 1)

  body
    padding: 4rem
    border-radius: 4rem

  .slide, .navbar, .scroll-container
    display: none

  .no-mobile
    display: block
    line-height: 130%
    color: $brown50
