
$dark-grey: #212121
$mid-white: #cccccc

::-webkit-scrollbar
  display: none

*
  margin: 0
  padding: 0
  font-family: "Quicksand", sans-serif
  user-select: none

body
  background-color: $dark-grey
  position: absolute
  margin-left: 50%
  transform: translateX(-50%)
  aspect-ratio: 1
  padding: 4rem
  display: flex
  flex-direction: row
  gap: 2rem
  height: calc(100vh - 8rem)
  overflow: hidden

h1
  color: $mid-white
  font-weight: 400
  letter-spacing: 0.3rem
  font-size: 3rem

.surname-wrap
  position: relative
  height: 96%
  margin-top: 50%
  transform: translateY(-50%)
  display: flex
  align-items: flex-start // Start od góry

.surname
  position: relative
  overflow-x: clip
  writing-mode: vertical-lr
  transform: rotate(180deg)
  white-space: nowrap
  align-items: center
  justify-content: center
  letter-spacing: 0
  text-align: right
  //border: 1px solid red
  height: fit-content
  //height: 100%

.surname-letter
  display: inline-block
  animation-fill-mode: forwards
  animation-name: letter-in
  animation-timing-function: cubic-bezier(0, 1, 1, 1)
  animation-duration: 0.5s
  translate: 150% 0

  &:nth-child(1)
    display: none

.grid-small
  grid-column: span 1
  grid-row: span 1

.grid-tall
  grid-column: span 1
  grid-row: span 2

.grid-wide
  grid-column: span 2
  grid-row: span 1

.grid-mid
  grid-column: span 2
  grid-row: span 2

.grid-big
  grid-column: span 3
  grid-row: span 3

.project-grid
  //border: 1px solid red
  border-radius: 0.5rem
  display: grid
  grid-template-columns: repeat(5, calc(20% - 0.8rem))
  grid-template-rows: repeat(5, calc(20% - 0.8rem))
  gap: 1rem
  padding: 0
  overflow: clip
  overflow-y: scroll
  //background-color: rgba($mid-white, 0.1)

.img-wrapper
  position: relative
  overflow: clip
  border-radius: 1rem
  cursor: pointer
  clip-path: circle(0% at center)
  transition: clip-path 1s cubic-bezier(0, 1, 1, 1)
  transition-delay: 0s
  //background-color: $mid-white
  //border: 0.1rem solid rgba(white, 0.2)

  &:hover
    img, video
      scale: 1.03
      filter: saturate(1)
      transition-duration: 0.1s
  img, video
    display: block
    height: 100%
    width: 100%
    //border-radius: 1rem
    object-fit: cover
    transition: all 0.3s ease
    //transform: translateY(-0.5rem)
    filter: saturate(0.7)

    //&:hover
      scale: 1.03
      filter: saturate(1)
      transition-duration: 0.1s

.figma-button
  text-decoration: none
  position: absolute
  letter-spacing: 0.13rem
  bottom: 2rem
  left: 0
  font-size: 1rem
  font-weight: 500
  color: $mid-white
  background-color: $dark-grey
  border-radius: 0 0.5rem 0.5rem 0
  padding: 0.5rem 1rem
  cursor: pointer
  transition: all 0.3s ease
  z-index: 1000

  &::before
    content: '>'
    position: absolute
    top: 50%
    left: -100%
    transform: translateY(-50%)

  &:hover
    padding: 0.5rem 1rem 0.5rem 2rem
    //letter-spacing: 0.05rem
    transition-duration: 0.1s
    //background-color: $dark-grey
    //color: $mid-white
    //transform: translateY(-0.5rem)
    //box-shadow: 0 0.5rem 0 rgba($dark-grey, 1)

  &:hover::before
    left: 1rem

.img-wrapper.filler
  background-color: #383838
  color: $dark-grey
  font-size: 2rem
  font-weight: 500
  letter-spacing: 0.1rem
  cursor: default
  display: flex
  justify-content: center
  align-items: center

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba($dark-grey, 0)
  border-radius: 1rem
  backdrop-filter: blur(0)
  visibility: hidden
  justify-content: center
  align-items: center
  z-index: -10
  cursor: default
  display: flex
  flex-direction: column-reverse
  opacity: 0
  transform: translateY(10%)
  transition: all 0.3s 0s ease

  &.active
    visibility: visible
    z-index: 100
    opacity: 1
    background-color: rgba($dark-grey, 0.95)
    transform: translateY(0)
    transition: all 0.3s 0s ease

.overlay-content
  max-width: 90%
  max-height: 90%
  border-radius: 2rem
  object-fit: contain
  position: relative
  transition: all 0.3s 0s cubic-bezier(0, 1, 1, 1)
  cursor: default
  //border: 1px solid rgba($mid-white, 0.5)

#overlayImage, #overlayVideo
  max-width: 100%
  max-height: 90vh
  border-radius: 2rem
  //opacity: 1
  //scale: 1
  //visibility: visible
  //border: 0.5rem solid rgba($dark-grey, 1)
  visibility: visible
  box-shadow: rgba(black, 0.5) 0 2rem 3rem -2rem
  transition: all 0.3s 0s cubic-bezier(0, 1, 1, 1)
  //transform: translateY(100%)

  &.active
    //visibility: visible
    //transform: translateY(0)

.overlay-close
  //position: absolute
  //margin-left: 50%
  //transform: translateX(-50%)
  //bottom: 2rem
  color: $mid-white
  font-size: 4rem
  font-weight: bold
  cursor: pointer
  z-index: 1000
  transition: all 0.3s 0s cubic-bezier(0, 0, 0, 1)
  //border-radius: 10rem
  //padding: 1rem 2rem
  //background-color: $dark-grey

  &:hover
    rotate: -15deg
    color: #ffffff
    transition: all 0.1s 0s cubic-bezier(0, 0, 0, 1)

.show
  //animation: card-in 1s 0s forwards cubic-bezier(0, 1, 1, 1)
  clip-path: circle(100% at center)
