* {
  font-family: "DM Mono", monospace;
  font-weight: 100;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 8rem 12rem;
  gap: 8rem;
  overflow: clip;
  background: radial-gradient(circle, #212121, #1c1c1c);
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: #DBD1C8;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

.menu {
  position: relative;
  height: 100%;
  flex: 0.25;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
}
.menu .title {
  width: 100%;
}
.menu .title .name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
}
.menu .title .name h1 {
  font-weight: 300;
}
.menu .title .name h1:last-of-type {
  animation: dot steps(2) 2s 0.5s infinite;
}
.menu .title .subtitle h1 {
  font-weight: 100;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1rem;
}
.project-list .project-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  translate: -50% 0;
  opacity: 0;
  animation: project-card-slide-in 0.5s 0s ease forwards;
}
.project-list .project-card:hover {
  background-color: rgba(219, 209, 200, 0.03);
  transform: translateX(2%);
  transition: background-color 0.1s, transform 0.1s;
}
.project-list .project-card .tags {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1rem;
}
.project-list .project-card .tags .tag {
  padding: 0.25rem 1rem;
  background-color: rgba(219, 209, 200, 0.04);
  border-radius: 0.6rem;
}

.project-preview {
  position: relative;
  height: 100%;
  flex: 0.75;
  transition: box-shadow 0.5s 0.5s;
}
.project-preview .project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 2rem;
  transform: translateY(-80%);
  gap: 1rem;
}
.project-preview .project-buttons .button {
  background-color: rgba(219, 209, 200, 0.04);
  box-sizing: border-box;
  height: 3rem;
  border-radius: 1rem 1rem 0 0;
  padding: 0.25rem 1rem;
  transition: background-color 0.1s, transform 0.1s, translate 0.3s calc(1s + var(--nth) * 0.05s), visibility 0s 0.5s;
  cursor: pointer;
  translate: 0 100%;
  visibility: hidden;
}
.project-preview .project-buttons .button h3 {
  font-size: 1.5rem;
  font-weight: 200;
}
.project-preview .project-buttons .button:hover {
  transform: translateY(-20%);
}
.project-preview .project-buttons .button.active {
  background-color: rgba(219, 209, 200, 0.1);
}
.project-preview .project-buttons .button.show {
  visibility: visible;
  translate: 0 0;
}
.project-preview.show {
  box-shadow: rgba(0, 0, 0, 0.5) 0rem 2rem 3rem -2rem;
}
.project-preview .project-window {
  z-index: 2;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 1rem;
  overflow: clip;
  clip-path: circle(0% at 0% 50%);
  transition: clip-path 1s 0.2s ease;
}
.project-preview .project-window .frame-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  width: 200%;
  height: 100%;
  transition: translate 0.5s;
}
.project-preview .project-window .frame-wrapper.slide {
  translate: -50% 0;
}
.project-preview .project-window .frame-wrapper #frame-readme, .project-preview .project-window .frame-wrapper #frame-notebook {
  width: 100%;
  height: 100%;
  float: left;
  translate: 0 0;
}
.project-preview .project-window.show {
  clip-path: circle(100%);
}

.github-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  position: absolute;
  width: 5rem;
  height: 5rem;
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: rgba(219, 209, 200, 0.04);
  border-radius: 10rem;
  transition: background-color 0.3s, transform 0.3s;
  bottom: 0;
  left: 0;
  rotate: -90deg;
  clip-path: circle(0% at center);
  animation: github-in 2s 0.5s forwards ease;
}
.github-wrapper:hover {
  background-color: rgba(219, 209, 200, 0.1);
  transition: background-color 0.1s, transform 0.3s;
  transform: rotateZ(15deg);
}
.github-wrapper a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}
.github-wrapper img {
  width: 100%;
  height: 100%;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/*# sourceMappingURL=styles.css.map */
