
:root{
    --darker: #2D2424;
    --dark: #5C3D2E;
    --light: #B85C38;
    --text: #E0C097;
    --cubic: cubic-bezier(0.19, 1, 0.22, 1)
}

body {
    margin: 10px;
    height: 2000px;
    animation: bg-gradient 1s 0s forwards var(--cubic);
    background: linear-gradient(10deg,
                                var(--dark) 0%,
                                var(--darker) 100%);
    background-size: 200%;
    background-position: 0%;
}

p
{
    font-family: "Verdana";
    color: var(--text);
}

.name-tab {
    position: absolute;
    margin-left: 3vw;
    margin-top: 3vh;
    width: 28vw;
    height: 20vh;
}

.surname-full {
    position: absolute;
    height: 100%;
    width: 12vw;
}

.surname1 {
    position: absolute;
    font-family: "Trebuchet MS";
    text-align: left;
    margin-top: 1vh;
    margin-left: 0.5vw;
    font-size: 3.1vw;
    width: 12vw;
    font-weight: bolder;
    color: var(--text);
    animation: name-mask 1s 0.5s forwards var(--cubic), dot 2s 3s step-start infinite;
    clip-path: polygon(0% 0%,
                       30% 0%,
                       30% 31%,
                       100% 31%,
                       100% 100%,
                       0% 100%);
    clip-path: inset(0% 0% 0% 100%);
}

.surname2 {
    position: absolute;
    text-align: center;
    width: 12vw;
    font-family: "Trebuchet MS";
    margin-top: 4.3vw;
    font-size: 1vw;
    margin-right: -1vw;
    font-weight: bolder;
    color: var(--text);
    animation: name-mask-2 1.7s 0.5s forwards var(--cubic);
    clip-path: inset(0% 0% 0% 100%);
}

.name-shape-1 {
    position: absolute;
    background-color: var(--dark);
    width: 12vw;
    height: 16vh;
    animation: name-shape-clip 1s 0.5s forwards var(--cubic);
    clip-path: polygon(50% 50%,
                       50% 50%,
                       100% 80%,
                       100% 80%);
}

.name-bg-full {
    position: absolute;
    margin-top: 5%;
    margin-right: 50%;
    transform: translate(-50% -50%);
    width: 50%;
    height: 80%;
}

.face {
    position: absolute;
    margin-left: 50%;
    height: 100%;
    animation: pfp-clip 1s 0.5s forwards var(--cubic);
    clip-path: polygon(50% 50%,
                       50% 50%,
                       50% 50%,
                       50% 50%);
}

.lang {
    position: fixed;
    right: 50px;
    top: 10px;
}

#en, #pl {
    position: absolute;
    cursor: pointer;
    border: none;
    font-family: "Trebuchet MS";
    color: var(--text);
    font-size: 16px;
    font-weight: bolder;
    background: none;
    width: 40px;
    height: 30px;

    &:hover {color: var(--light);}
}
#en {
    right: 0px;
}

#wall-1, #wall-2 {
    background-color: var(--dark);
    position: absolute;
    top: 0%;
    opacity: 20%;
    right: 0px;
    width: 20%;
    height: 2040px;
    animation: wall-1 forwards 1s 0s var(--cubic);
    clip-path: polygon(0% 0%,
                       100% 0%,
                       100% 100%,
                       0% 100%);
}

#wall-2 {
    animation: wall-2 forwards 1.5s 0s var(--cubic);
}

.ae-1 {
    height: 400px;
    width: 400px;
    transition: clip-path 0.5s var(--cubic);
    clip-path: polygon(10% 0%,
                       100% 0%,
                       90% 100%,
                       0% 100%);

    &:hover {clip-path: polygon(0% 0%,
                                100% 0%,
                                100% 100%,
                                0% 100%)}
}

.videos{
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    height: 400px;
    width: 400px;
    background-color: var(--dark);
}

.skill-parent{
    position: absolute;
    width: 20vw;
    height: 40vh;
    border: solid red 0px;
    margin-top: 30vh;
    left: 5vw;
}

.skill-shape {
    position: absolute;
    background-color: var(--dark);
    animation: pfp-clip 1s 0.7s forwards var(--cubic);
    clip-path: polygon(50% 50%,
                        50% 50%,
                        50% 50%,
                        50% 50%);
    width: 100%;
    height: 100%;
}

.table-prog-bars{
    border-spacing: 3vh;
    width: 100%;
    height: 100%;
}

.tr, td {
    position: absolute;
    background-color: var(--darker);
    color: var(--darker);
    font-family: "Trebuchet MS";
    margin-left: 5%;
    line-height: 1.6vh;
    width: 90%; height: 1.5vh;
    font-size: 1.8vh;
    font-weight: bolder;
    animation: prog-inset forwards 1s 0.5s var(--cubic);
    clip-path: inset(0% 100% 0% 0%);
}

#b-1 {
    animation: prog-inset forwards 1s 0.5s var(--cubic);
    background:linear-gradient(90deg,
                               var(--light) 0%,
                               var(--light) 80%,
                               var(--darker) 80%,
                               var(--darker) 100%);
}

#b-2 {
    animation: prog-inset forwards 1s 0.6s var(--cubic);
    background:linear-gradient(90deg,
                               var(--light) 0%,
                               var(--light) 60%,
                               var(--darker) 60%,
                               var(--darker) 100%);
}

#b-3 {
    animation: prog-inset forwards 1s 0.7s var(--cubic);
    background:linear-gradient(90deg,
                               var(--light) 0%,
                               var(--light) 50%,
                               var(--darker) 50%,
                               var(--darker) 100%);
}

#b-4 {
    animation: prog-inset forwards 1s 0.8s var(--cubic);
    background:linear-gradient(90deg,
                               var(--light) 0%,
                               var(--light) 60%,
                               var(--darker) 60%,
                               var(--darker) 100%);
}

#b-5 {
    animation: prog-inset forwards 1s 0.9s var(--cubic);
    background:linear-gradient(90deg,
                               var(--light) 0%,
                               var(--light) 30%,
                               var(--darker) 30%,
                               var(--darker) 100%);
}

#b-6 {
    animation: prog-inset forwards 1s 1.0s var(--cubic);
    background:linear-gradient(90deg,
                               var(--light) 0%,
                               var(--light) 40%,
                               var(--darker) 40%,
                               var(--darker) 100%);
}

.knowledge {
    position: relative;
    color: var(--text);
    margin: auto;
    font-size: 4vh;
    font-family: "Trebuchet MS";
    margin-left: 5%;
    font-weight: bolder;
}

.percent{
    position: absolute;
    width: 100%;
    height: 3.5vh;
    margin-top: 38vh;
}

#pc-left, #pc-right{
    position: absolute;
    color: var(--light);
    font-family: "Trebuchet MS";
    font-size: 2vh;
    display: inline-block;
    margin-left: 5%;
    width: 90%;
    font-weight: bolder;
}

#pc-left {
    animation: inset-down forwards 1s 1s var(--cubic);
    clip-path: inset(100% 0% 0% 0%);
    text-align: left;
}

#pc-right {
    animation: inset-down forwards 1s 1.2s var(--cubic);
    clip-path: inset(100% 0% 0% 0%);
    text-align: right;
}

.portfolio-parent {

}
