
:root{
    --darker: #F3F3F3;
    --dark: #E9DCBE;
    --light: #8E8B82;
    --text: #343434;
    --cubic: cubic-bezier(0.19, 1, 0.22, 1)
}

body {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--darker);
}

p
{
    font-family: "Trebuchet MS";
    color: var(--text);
    font-weight: bolder;
}

.name-tab {
    position: relative;
    margin-left: 50vw;
    transform: translate(-50%);
    margin-top: 10vh;
    width: 22vw;
    height: 20vh;
}

.surname-full {
    position: absolute;
    height: 100%;
    left: -1vw;
    width: 12vw;
}

.surname1 {
    position: absolute;
    text-align: left;
    margin-top: 1vh;
    font-size: 3.1vw;
    width: 12vw;
    font-weight: bolder;
    color: var(--text);
    animation: name-mask 1s 0.5s forwards var(--cubic), dot 2s 1.5s step-start infinite;
    clip-path: polygon(0% 0%,
                       30% 0%,
                       30% 31%,
                       100% 31%,
                       100% 100%,
                       0% 100%);
    clip-path: inset(0% 0% 0% 100%);
}

.surname2 {
    position: absolute;
    left: 3vw;
    width: 12vw;
    font-family: "Trebuchet MS";
    margin-top: 4.3vw;
    font-size: 1vw;
    font-weight: bolder;
    color: var(--text);
    animation: name-mask-2 1.7s 0.5s forwards var(--cubic);
    clip-path: inset(0% 0% 0% 100%);
}

.name-shape {
    position: absolute;
    background-color: var(--dark);
    width: 100%; height: 20vh;
    top: -2vh;
    left: -1vw;
    clip-path: inset(0 100% 0 20%);
    animation: name-shape-clip 1s 0.7s var(--cubic) forwards;
}

.name-bg-full {
    position: absolute;
    margin-top: 5%;
    margin-right: 50%;
    transform: translate(-50% -50%);
    width: 50%;
    height: 80%;
}

.face {
    position: absolute;
    height: 100%;
    animation: pfp-clip 1s 1s var(--cubic) forwards;
    clip-path: inset(0 100% 0 0);
}

.face-shape {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 60%;
    clip-path: inset(0 0 100% 0);
    background-color: var(--text);
    animation: pfp-border 1s 1.4s forwards var(--cubic);
}

.face-bg {
    position: absolute;
    width: 20vh; height: 20vh;
    right: 0;
}

.portfolio {
    position: relative;
    color: var(--text);
    margin: auto;
    font-size: 4vh;
    font-family: "Trebuchet MS";
    margin-left: 3vw;
    font-weight: bolder;
    animation: header-clip forwards 1s 0.7s var(--cubic);
    clip-path: inset(0 0 0 100%);
}

.portfolio-parent {
    position: relativea;
    width: 48vw; height: auto;
    border: solid red 0px;
    margin-top: 10vh;
    margin-left: 50vw;
    transform: translate(-50%);
}

.media-container {
    margin-top: 3vh;
    width: 100%;
    height: auto;
    border: solid red 0px;
    text-align: center;
}

video, .ng-img {
    position: relative;
    border: none;
    width: 22vw;
    clip-path: inset(100% 100% 100% 100%);
    animation: square-in 1s 1.5s forwards var(--cubic);
}

.contact-parent {
    position: relative;
    width: 12vw; height: 14vh;
    border: solid red 0px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 50vw;
    transform: translate(-50%);

    &:hover .contact-shape {
        width: 40vw;
    }

}
.contact-shape {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    width: 4vw;
    height: 14vh;
    background-color: var(--dark);
    transition: all 0.5s var(--cubic);
}

.info {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
}

::-webkit-scrollbar {width: 0.5vw;}
::-webkit-scrollbar-thumb {background-color: var(--light);}

@media (max-width: 1000px) {

    .name-tab {
        top: 2vh;
        width: 80vw; height: 35vw;
        margin-left: 50vw;
        transform: translate(-50%);
        left: 0vw;
    }

    .name-shape {
        height: 35vw; width: 41vw;
        top: -2vh; left: -3vw;
    }

    .surname-full {
        top: 1vw;
        width: 40vw;
    }

    .surname1 {
        width: 100%;
        font-size: 10vw;
    }

    .surname2 {
        width: 100%;
        font-size: 4vw;
        top: 40%; left: 8vw;
    }

    .face {
        left: -2vw;
        height: 35vw; width: 35vw;
        animation: pfp-clip 1s 1s var(--cubic) forwards;
    }

    .face-bg {
        height: 35vw; width: 35vw;
    }

    .face-shape {
        position: inherit;
        width: 50%;
        left: 50%;
    }

    .portfolio-parent {
        width: 90vw; height: auto;
    }

    video, .ng-img {
        width: 35vw;
    }
    
    .contact-parent {
        width: 90vw;

        &:hover .contact-shape {
            width: 70vw;
        }
    }

    .contact-shape {
        width: 10%; height: 100%;
    }

    .info {
        width: 100%;
    }

}
