
:root {
    --black: #000000;
    --darker: #1f212d;
    --dark: #282A3A;
    --light: #735F32;
    --text: #EEEEEE;
    --cubic: cubic-bezier(0.19, 1, 0.22, 1)
}

body {
    background-color: var(--darker);
    overflow-x: clip;
    overflow-y: clip;
}

iframe {
    border-radius: 10px;
}

img {
    margin-left: 50%;

}

.code-block {
    margin-left: 50%;
    transform: translate(-50%);
    width: 80vh;
    margin-top: 0;
    height: 100%;
    border-width: 0;
}

.code {
    margin-left: 50%;
    margin-top: 2vh;
    transform: translate(-50%);
    width: 100%;
    height: 84vh;
    border-width: 0;
    background-color: white;
    clip-path: circle(0%);
    animation: loadcode 1s 0s ease-in-out forwards;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 2vh;
    width: 10vh;
    height: 3vh;
    cursor: pointer;
    overflow: clip;
}

.button-text {
    font-family: monospace;
    color: var(--text);
    margin-left: 5%;
    margin-top: 0vh;
    font-weight: bolder;
    width: 90%;
    font-size: 2vh;
    transform: translateY(110%);
    animation: slide 1s 2s var(--cubic) forwards, arrow 2s 2s step-end infinite;
    clip-path: inset(0% 0% 0% 0%);
}

.wave {
    position: absolute;
    z-index: -5;
    bottom: -4vh;
    left: 0;
    fill: black;
    opacity: 0.05;
    width: 4000px;
    animation: waves 20s -10s ease-in-out alternate infinite;
}

.wave2 {
    position: absolute;
    z-index: -5;
    bottom: -4vh;
    left: 0;
    fill: black;
    opacity: 0.05;
    width: 4000px;
    transform: translateX(-50%);
    animation: waves2 20s ease-in-out alternate infinite;
}

.wave3 {
    position: absolute;
    z-index: -5;
    bottom: -20vh;
    left: 0;
    fill: black;
    opacity: 0.05;
    width: 4000px;
    transform: translateX(-50%);
    animation: waves2 20s -5s ease-in-out alternate infinite;
}

@media (orientation: portrait) {

    svg {
        display: none;
    }

    button {
        margin-left: 70vw;
        position: absolute;
        margin-top: 94vh;
    }

    .code-block {
        margin-left: 50%;
        transform: translate(-50%);
        width: 90vw;
        height: 90vh;
        }

    .code {
        position: absolute;
        margin-left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: 100%;
    }

}

::-webkit-scrollbar {width: 0.5vw;}
::-webkit-scrollbar-thumb {background-color: var(--dark); border-radius: 0.5vw}