
$white90: #E6E6E6
$white96: #F5F5F4

$brown96: #F6F5F4
$brown90: #E9E6E2
$brown80: #D2CDC6
$brown70: #BAB4AB
$brown50: #878178
$brown40: #6C6760
$brown30: #544E45

@mixin flexbox($direction: row, $align: center, $justify: center)
  display: flex
  flex-direction: $direction
  align-items: $align
  justify-content: $justify

body
  @include flexbox(column, center, flex-start)
  padding: 16rem 52rem
  gap: 4rem

.header
  width: 100%
  padding: 0rem
  opacity: 0.2

p, span, h2, h3, h4, .tag
  color: $brown50
  font-size: 1.25rem
  font-weight: 300
  letter-spacing: 2%
  word-spacing: 20%
  line-height: 140%


h4
  color: $brown40
  font-weight: 500

.type
  &:before
    content: "• "

.projects-window
  @include flexbox(row, flex-start, flex-start)
  gap: 3rem
  width: 56rem

.project-list
  @include flexbox(column, flex-start, flex-start)

  width: 50%
  height: fit-content

  padding: 0 2rem 0 0
  gap: 2rem

  //border-radius: 1.5rem

  //overflow-y: scroll
  //overflow-x: clip
  //border: 1px solid red

.logo-wrapper
  width: 100%
  cursor: pointer
  padding: 0.5rem 3rem
  //border-radius: 5rem 2rem 2rem 5rem
  border-radius: 10rem

  //background: linear-gradient(45deg, white 0%, $brown96 300%)
  background-color: white
  outline: 0.3rem solid white
  box-shadow: 0 0.75rem 1.25rem -0.5rem rgba(black, 0.05) inset, 0 1rem 1rem -0.5rem rgba(black, 0.05)
  transition: transform 0.3s ease, background-color 0.3s ease, outline-color 0.3s ease

  &:hover
    //transform: translateX(1rem)
    transition-duration: 0.1s
    background-color: $brown90
    outline-color: $brown96

  img
    width: 100%

.logo-wrapper.selected
  transform: translateX(2rem)
  transition-duration: 0.3s
  //background: none

.project-card
  @include flexbox(column, flex-start, flex-start)
  width: 100%
  height: 100%

  gap: 2rem
  padding: 3rem 3.5rem

  border-radius: 3rem
  background: linear-gradient(45deg, white 0%, $brown96 300%)
  box-shadow: 0 0 0 0.5rem $brown96, 0 2rem 2rem -2rem rgba(black, 0.1), 0 0 0 0.5rem white inset

.project-description
  @include flexbox(column, flex-start, flex-start)
  gap: 0.5rem
  //width: 60%

  text-wrap: balance

.buttons-wrapper
  @include flexbox(row, flex-end, flex-start)
  margin-top: 1rem
  gap: 1.5rem
  width: fit-content
  height: 100%

  .button
    cursor: pointer
    padding: 0.5rem 1.5rem 0.6rem 1.5rem
    border-radius: 4rem

    box-shadow: 0 0.75rem 1.25rem -0.5rem rgba(black, 0.05) inset, 0 1rem 1rem -0.5rem rgba(black, 0.05)
    //transition: box-shadow 0.3s ease, background-color 0.5s ease
    transition: background-color 0.5s ease
    outline: 0.2rem solid white
    background-color: white

    p
      //color: $brown70
      font-weight: 500
      transition: color 0.1s ease
      line-height: 100%

    &:hover
      transition-duration: 0.1s
      background-color: $brown90
      p
        color: $brown40

.bg-wrapper
  z-index: 0
  //width: 40rem
  height: 33.5rem
  border: 1px solid red
  //overflow: clip

  margin-right: 4rem
  margin-top: 4rem

  img
    height: 100%
    width: unset
    float: right
    transform: rotate(5deg)

.type-container
  @include flexbox(row, center, flex-start)
  gap: 1rem
  flex-wrap: wrap
  width: 100%

  .type
    color: $brown40
    opacity: 0.5
    font-size: 1.25rem
    font-weight: 400

    &:before
      content: "#"

.tag-container
  @include flexbox(column, flex-start, flex-start)
  //gap: 0.25rem
  flex-wrap: wrap
  width: 100%

  .tag
    //color: $brown50
    //font-size: 1.25rem
    //font-weight: 300
    //padding: 0.25rem 1rem
    //border-radius: 10rem
    //background-color: rgba($brown96, 0.5)
    //border: 1px solid $brown80

    &:before
      color: $brown50
      //content: "●·∙ "
      content: "∙ "
      //opacity: 100%

.project-card
  @include flexbox(column, flex-start, flex-start)
  width: 100%
  height: 100%

  gap: 2rem
  padding: 3rem 3.5rem

  border-radius: 3rem
  background: linear-gradient(45deg, white 0%, $brown96 300%)
  box-shadow: 0 0 0 0.5rem $brown96, 0 2rem 2rem -2rem rgba(black, 0.1), 0 0 0 0.5rem white inset

  &.card-exit
    animation: slideOut 0.2s forwards ease-in

  &.card-enter
    animation: slideIn 0.2s forwards ease-out

@keyframes slideOut
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(4rem)

@keyframes slideIn
  from
    opacity: 0
    transform: translateX(-1rem)
  to
    opacity: 1
    transform: translateX(0)
