
@mixin flexbox(
  $direction: column,
  $justify: center,
  $align: center,
  $wrap: nowrap,
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$main-spacing: 1rem;

@media (orientation: landscape) {

  @media (min-aspect-ratio: 21/9) {
    section {width: 50vw;}
  }

  @media (max-width: 1920px) {
    :root {font-size: 12px;}
  }

  @media (max-width: 1280px) {
    :root {font-size: 8px;}
  }

}

@media (orientation: portrait) {

  .navigation-bar-wrapper,
  body,
  html,
  section {
    width: 100vw;
  }

  h1 {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    width: fit-content;
    text-wrap: pretty;
    animation: show-from-bottom 1s forwards;
  }

  h2 {
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 0;
    width: fit-content;
    text-wrap: balance;
  }

  h3 {font-size: 5rem; font-weight: 500; letter-spacing: 0}
  h4 {font-size: 2rem; font-weight: 500}

  section:nth-of-type(2n) h2 {
    background-clip: text;
    color: transparent;
  }

  p {
    font-weight: 100;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
    color: white;
  }

  // works the same way as h1, h2, h3...
  .p1 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.4em;
    letter-spacing: 0.04em;
    width: fit-content;
    animation: p-show-from-bottom 1s forwards;
    text-wrap: pretty;
  }

  .p2 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.4em;
    letter-spacing: 0.07em;
    width: fit-content;
  }

  .p3 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.75em;
    letter-spacing: 0.1em;
    width: fit-content;
  }

  .p4 {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.75em;
    letter-spacing: 0.1em;
    width: 70%;
  }

  .p5 {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.75em;
    letter-spacing: 0.12em;
  }

  section {
    @include flexbox(column, start, center);
    box-sizing: border-box;
    height: fit-content;
    width: 100vw;
    margin: 0;
    padding: ($main-spacing * 6);
    gap: ($main-spacing * 4);
  }

  section.welcome {
    height: fit-content;

    .img-container {
      position: absolute;
      display: inline-block;
      //display: none;
      bottom: 0;
      width: 200%;
      transform-origin: bottom center;
      img {opacity: 0.5;}
    }

    .button-primary {
      font-size: 2rem;
      padding: 1rem 2rem;
    }
  }

  section.footer {
    .footer-container {
      @include flexbox(column, center, start);
      width: 100%;
    }
  }

  section.tools {

    @include flexbox(column, start, start);

    .wrapper-horizontal {
      @include flexbox(column, space-between, center);
      height: fit-content;
      width: fit-content;
      gap: 0;
      padding: 0;

      .header-wrapper {
        @include flexbox(column, center, center);
        all: initial;
        gap: 0;
        width: fit-content;
        padding: 0;

        .p3 {
          width: 100% !important;
          text-wrap: pretty;
        }
      }

      .img-container {
        width: 70%;
        img {
          height: 100%;
        }
      }
    }
  }

  .navigation-bar-wrapper {
    @include flexbox(row, center, center);
    box-sizing: border-box;
    width: 100vw;
    height: 12rem;
    margin: 0;
    padding: 4rem;

    .menu {
      @include flexbox(row, space-between, center);
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;

      #navigation-buttons {display: none}

      div {
        display: none;
      }

      .button-menu {
        display: block;
        width: 4rem;

        img {
          height: 100%;
        }
      }

      .logo {
        display: block;
        height: 4rem;
        width: 10rem;
      }
    }
  }

  .navigation-bar-spacer {
    box-sizing: border-box;
    width: 100vw;
    height: 12rem;
    padding: 4rem;
  }

  .header-wrapper {
    width: 100%;
    gap: $main-spacing * 2;
  }

}
