
@mixin flexbox(
  $direction: column,
  $justify: center,
  $align: center,
  $wrap: nowrap,
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$main-spacing: 1rem;

@media (orientation: landscape) {

  @media (min-aspect-ratio: 21/9) {
    section {width: 50vw;}
  }

  @media (max-width: 1920px) {
    :root {font-size: 12px;}
  }

  @media (max-width: 1280px) {
    :root {font-size: 8px;}
  }

}

@media (orientation: portrait) {

  .navigation-bar-wrapper,
  body,
  html,
  section {
    width: 100vw;
  }

  section {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 3rem 2rem;
  }

  section.welcome {

    h1 {
      width: fit-content;
      text-wrap: pretty;
    }

    .p1 {
      width: fit-content;
      text-wrap: balance;
    }

    .img-container {
      width: 200%;
      bottom: 20rem;
      img {opacity: 0.5;}
    }

    .button-primary {
      font-size: 2rem;
    }
  }

  section.footer {
    .footer-container {
      @include flexbox(column, center, start);
      width: 100%;
    }
  }

  .navigation-bar-wrapper {
    @include flexbox(row, center, center);
    box-sizing: border-box;
    width: 100vw;
    height: 12rem;
    margin: 0;
    padding: 4rem;


    .menu {
      @include flexbox(row, space-between, center);
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;

      #navigation-buttons {display: none}

      div {
        margin: 0;
        padding: 0;
        display: none;
        height: 100%;
      }

      .button-menu {
        display: block;
        width: 4rem;

        img {
          height: 100%;
        }
      }

      .logo {
        display: block;
        height: 4rem;
        width: 10rem;
      }
    }
  }

  .navigation-bar-spacer {
    width: 100vw;
    height: 12rem;
  }

  .header-wrapper {
    width: 100%;
    gap: $main-spacing * 4;
  }

}
