
$darkGrey: #0F0F0F;
$lightBlue: #0088CF;
$darkBlue: #243c59;
$darkWhite: rgba(255, 255, 255, 0.5);
$main-spacing: 2rem;
$bezier: cubic-bezier(0.6,0,0.4,1);
$neonGradient: linear-gradient(0deg, $lightBlue, transparent 90%);

@mixin flexbox(
  $direction: column,
  $justify: center,
  $align: center,
  $wrap: nowrap,
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: white;
}

hr {width: 100%; border-color: $darkWhite}

body {
  @include flexbox(column, start, center);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  gap: 0;
  //margin-left: 50%;
  //translate: -50%;

  background-color: $darkGrey;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  @include flexbox(column, start, center);
  padding: 6rem;
  margin: 0;
  gap: $main-spacing * 2;
  position: relative;

  width: 110vh;
  text-align: center;
  height: fit-content;
}

h1, h2, h3, h4 {margin: 0; line-height: 1em}
h1 {font-size: 8rem; font-weight: 700; letter-spacing: -0.02em}
h2 {font-size: 6rem; font-weight: 600; letter-spacing: 0}
h3 {font-size: 4rem; font-weight: 500; letter-spacing: 0}
h4 {font-size: 2rem; font-weight: 500}

h1, h2 {
  padding: $main-spacing / 2;

  background: linear-gradient(-135deg, $lightBlue -100%, white 100%);
  background-clip: text;
  color: transparent;

  text-wrap: pretty;
}

section:nth-of-type(2n) h2 {
  background: linear-gradient(135deg, $lightBlue -100%, white 100%);
  background-clip: text;
  color: transparent;
}

p {
  font-weight: 100;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  color: white;
}

// works the same way as h1, h2, h3...
.p1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  width: 70%;
}

.p2 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: 0.07em;
  width: 70%;
}

.p3 {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  letter-spacing: 0.1em;
  width: 70%;
}

.p4 {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.75em;
  letter-spacing: 0.1em;
  width: 70%;
}

.p5 {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.75em;
  letter-spacing: 0.12em;
}

a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 3em;
  transition: color 0.2s;
  font-weight: 200;
  letter-spacing: 0.05em;

  &:visited {color: white;}
  &:hover {color: $darkWhite;}
}

.bg {
  --hue-value: 10deg;
  --blur-value: 10rem;
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: blur(20rem) hue-rotate(0deg);
}

.navigation-bar-wrapper{
  @include flexbox();
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100vw;
  height: 3rem;

  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.7);
  padding: $main-spacing / 2;
  border-bottom: 1px solid rgba(0, 136, 207, 0.2);
}

.navigation-bar-spacer {
  position: relative;
  height: 3rem;
  padding: $main-spacing / 2;
}

.menu {
  @include flexbox(row, space-between, center);
  padding: 0 6rem;
  width: 110vh;

  div {
    @include flexbox(row);
    padding: 0;
    margin: 0;
    gap: 1rem;

    height: 100%;
    line-height: 1rem;
    font-weight: 500;
  }

  #navigation-buttons {
    justify-content: space-between;
    width: 40%;
  }
}

.logo {
  background: linear-gradient(135deg, $lightBlue 50%, white 50%);
  width: 12rem;
  height: 3rem;
}

button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  border-radius: 10rem;
  padding: 0.25em 1.25em;
  color: white;
  border: none;
  &:hover {cursor: pointer;}

  &.button-primary {
    position: relative;
    background-color: $lightBlue;
    transition: background-color 0.2s;
    border: 2px solid $lightBlue;
    &:hover {background-color: $darkBlue}
  }

  &.button-ghost {
    background-color: transparent;
    border: 2px solid $lightBlue;
    transition: background-color 0.2s;
    &:hover {background-color: $lightBlue}
  }
}

.header-wrapper {
  @include flexbox();
  gap: 0;
}

.img-container {
  @include flexbox();
  box-sizing: border-box;
  width: 100%;
  border-radius: $main-spacing;
  border: $darkBlue solid 0.2rem;
  overflow: clip;

  img {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4rem;
  }
  .small {width: 50%;}
}

.wrapper-horizontal {
  @include flexbox(row, start, center);
  padding: 0 $main-spacing;
  gap: $main-spacing;

  &.payment-type {
    gap: $main-spacing / 2;
    p {
      transition: opacity 0.2s;
      font-size: 1.5rem;
      font-weight: 500;}
  }
}

.cards-container {
  @include flexbox(row, center, stretch);
  flex-wrap: wrap;
  gap: $main-spacing;
  width: 100%;

  div:nth-of-type(1), div:nth-of-type(4) {
    width: 30%;
  }
  div:nth-of-type(2), div:nth-of-type(3) {
    width: 40%;
  }
}

.button-subscription-type {
  position: relative;
  background-color: $lightBlue;
  padding: 0.5rem 0.5rem;
  width: 3rem;
  height: 1rem;
  border-radius: 10rem;
  transition: background-color 0.3s;

  &:hover {cursor: pointer;}

  .button-ball {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 100%;
    background-color: white;
    transition: left 0.3s;
  }
}

section.welcome {
  h1 {animation: show-from-bottom 1s forwards;}
  .p1 {width: 60%; animation: p-show-from-bottom 1s forwards;}
  .img-container {animation: show-from-bottom 1s forwards;}
  .bg {
    width: 200%;
    height: 70vh;
    rotate: -20deg;
    top: -40vh;
    left: -50vw;
    animation: opacity-in 2s forwards;
  }
}

section.tools {
  .bg:nth-of-type(1) {
    --hue-value: 20deg;
    right: 0;
    top: 10%;
    height: 50%;
    width: 50%;
  }
  .bg:nth-of-type(2) {
    --hue-value: 30deg;
    left: 0;
    bottom: 10%;
    height: 20%;
    width: 60%;
  }

  .header-wrapper {
    .p2 {width: 70%; text-wrap: pretty}
    h3 {opacity: 0}
  }
  .wrapper-horizontal {
    width: 80%;

    .img-container {width: 40%}
    .header-wrapper.trading-tools {
      gap: 1rem;
      width: 70%;
      .p3 {width: 100%;text-wrap: pretty;}
    }
    .header-wrapper.financial-overview {
      gap: 1rem;
      width: 70%;
      .p3 {width: 90%; text-wrap: pretty;}
    }
  }
}

section.assistance {
  .bg:nth-of-type(1) {
    --hue-value: 20deg;
    top: 30%;
    left: 0;
    width: 50%;
    height: 20%;
  }
  .bg:nth-of-type(2) {
    top: 30%;
    right: 0;
    width: 50%;
    height: 80%;
    bottom: 0;
  }

  .card {
    @include flexbox(column, start, start);
    position: relative;
    padding: $main-spacing;
    gap: $main-spacing / 2;
    border-radius: calc($main-spacing - 0.15rem);
    background-color: rgba(0, 0, 0, 0.7);
    overflow: clip;
    border: solid $darkBlue 0.15rem;

    .p4 {
      text-align: justify;
      width: 100%;
    }

    h4 {
      text-align: left;
    }

    img {
      bottom: -2rem;
      right: -2rem;
      position: absolute;
      opacity: 0.05;
      height: 18rem;
    }
  }

  .danger-info {
    @include flexbox(row, start, start);
    box-sizing: border-box;
    width: 100%;
    gap: $main-spacing / 2;
    padding: 0 $main-spacing * 4;

    p {
      text-align: justify;
    }

    img {
      height: 2rem;
    }
  }
}

section.statistics {
  .wrapper-horizontal {
    @include flexbox(row, space-between, center);
    gap: $main-spacing;
    padding: 0 $main-spacing;
  }

  .button-primary {
    margin-top: $main-spacing;
  }

  h2 {width: fit-content;}

  text-align: center;
  text-wrap: pretty;

  .p2 {width: 90%;}
  img {height: 100%;}
}

section.subscription {
  .bg {
    --hue-value: 20deg;
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  h2 {text-wrap: balance}

  .subscription-container {
    @include flexbox(row, space-between, center);
    width: 100%;
  }

  .sub-card {
    @include flexbox();
    padding: $main-spacing * 1.5;
    gap: $main-spacing / 2;
    border-radius: $main-spacing;
    background: rgba(0, 0, 0, 0.5);
    width: 25%;
    opacity: 0;
    transform: scale(0.95);
    box-shadow: rgba(0, 136, 207, 0) 0 4rem 0 -5rem;
    transition: all 0.3s;

    &:hover {
      z-index: 5;
      transform: scale(1);
      box-shadow: rgba(0, 136, 207, 1) 0 4rem 8rem -5rem;
      background: rgba(0, 0, 0, 0.6);

      & .button-ghost {background-color: $lightBlue;}
    }

    &.special {
      transform: scale(1);

      background-color: rgba(0, 136, 207, 0.5);
      &:hover {
        transform: scale(1.05);
        background-color: rgba(0, 136, 207, 0.7);
      }
    }

    h3 {font-weight: 600;}

    p {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1em;
    };

    .separator {
      background-color: white;
      width: 100%;
      height: 0.05rem;
    }

    .price-tag {
      @include flexbox(column, start, start);
      gap: $main-spacing / 2;
      width: 100%;

      div:nth-child(1) {
        @include flexbox(row, start, end);
        font-size: 1rem;
        padding: 0;
        gap: $main-spacing / 2;

        :nth-child(1) {
          font-size: 4rem;
          line-height: 1em;
          font-weight: 600;
          letter-spacing: 0;
        }
        :nth-child(2) {
          font-size: 2rem;
          line-height: 1.4em;
          font-weight: 500;
        }
      }
      div:nth-child(2) {
        @include flexbox(row, start, start);
        width: 100%;
        gap: $main-spacing / 2;

        p {
          font-size: 1.5rem;
          font-weight: 200;
          line-height: 1em;
          text-align: left;
          color: $darkWhite;
        }
      }
    }

    .sub-items {
      @include flexbox(column, start, start);
      width: 100%;
      gap: $main-spacing / 2;
    }

    .list-item {
      @include flexbox(row, start, center);
      width: 100%;
      gap: $main-spacing / 2;

      img {height: 100%;}

      p {
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.1em;
      }
    }
  }
}

section.footer {
  background-color: $darkGrey;
  width: 100%;

  .footer-container{
    @include flexbox(row, start, stretch);
    height: 100%;
    width: 100vh;
    gap: $main-spacing * 2;
    padding: 0 6rem;
  }

  .contact, .shortcuts, .social {
    @include flexbox(column, start, start);
    gap: $main-spacing / 2;
    text-align: left;
  }

  .contact-line {
    @include flexbox(row, start, center);
    gap: $main-spacing / 2;
  }

  .social-icons {
    @include flexbox(row, space-between, center);
    gap: $main-spacing / 2;
  }

  .vr {
    width: 2px;
    background-color: white;
    opacity: 0.2;
  }

  p:nth-child(1) {font-weight: 400;}

  svg {
    transition: transform 0.2s;
    * {transition: fill-opacity 0.2s;}
  }

  svg:hover {
    transform: translateY(-10%);
    cursor: pointer;
    * {
      fill-opacity: 1;
    }
  }
}

//animation triggers

h2, .p2, .p3, .p5, .img-container, .card {
  opacity: 0;
  transform: translateY(20%);
}


.sub-card {
  &:nth-child(1) {--delay: 0.1s}
  &:nth-child(2) {--delay: 0.2s}
  &:nth-child(3) {--delay: 0.3s} }

.sub-card-animate {animation: show-sub-card 1s var(--delay) forwards}
.start-animate {animation: show-from-bottom 1s forwards;}
.p-start-animate {animation: p-show-from-bottom 1s forwards;}
.start-animate-left {animation: show-from-left 1s forwards;}
.start-animate-right {animation: show-from-right 1s forwards;}
//.card-start-animate {animation: card-show 0s forwards}
.bg-start-animate {animation: opacity-in 2s forwards;}
