
$darkGrey: #0F0F0F;
$lightBlue: #0f6fbd;
$midBlue: #0c60a4;
$darkBlue: #243c59;
$darkWhite: rgba(255, 255, 255, 0.5);
$main-spacing: 2rem;
$bezier: cubic-bezier(0.6,0,0.4,1);
$neonGradient: linear-gradient(0deg, $lightBlue, transparent 90%);
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@mixin flexbox(
  $direction: column,
  $justify: center,
  $align: center,
  $wrap: nowrap,
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-setup (
  $size: 1rem,
  $weight: 100,
  $height: 1em,
  $spacing: 0,
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: white;
}

html {
  overflow-x: hidden;
}

body {
  @include flexbox(column, start, center);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  gap: 0;
  //margin-left: 50%;
  //translate: 0 -50%;

  background-color: $darkGrey;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

hr {width: 100%; border-color: $darkWhite}

section {
  @include flexbox(column, start, center);
  padding: 6rem;
  margin: 0;
  gap: $main-spacing * 2;
  position: relative;

  width: 100vh;
  text-align: center;
  height: fit-content;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  @include font-setup(8rem, 700, 1em, -0.02em);
  animation: show-from-bottom 1s forwards;
  width: fit-content;
  text-wrap: balance;
}

h2 {
  @include font-setup(6rem, 600);
  width: fit-content;
}

h3 {@include font-setup(4rem, 500);}
h4 {@include font-setup(2rem, 500);}

h1, h2 {
  padding: $main-spacing / 2;

  background: linear-gradient(-135deg, $lightBlue -100%, white 100%);
  background-clip: text;
  color: transparent;
}

section:nth-of-type(2n) h2 {
  background: linear-gradient(135deg, $lightBlue -100%, white 100%);
  background-clip: text;
  color: transparent;
}

p {
  @include font-setup(1rem, 100, 1.5em, 0.05em);
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  color: white;
}

// works the same way as h1, h2, h3...
.p1 {
  @include font-setup(3rem, 300, 1.1em, 0.04em);
  width: 50rem;
  animation: p-show-from-bottom 1s forwards;
  text-wrap: pretty;
}

.p2 {
  @include font-setup(2.5rem, 300, 1.2em, 0.07em);
  width: 100%;
}

.p3 {
  @include font-setup(2rem, 200, 1.2em, 0.1em);
  width: 70%;
}

.p4 {
  @include font-setup(1.25rem, 200, 1.75em, 0.1em);
  width: 70%;
}

.p5 {
  @include font-setup(1rem, 100, 1.75em, 0.12em);
}

a {
  @include font-setup(1rem, 200, 3em, 0.05em);
  text-decoration: none;
  transition: color 0.2s;

  &:visited {color: white;}
  &:hover {color: $darkWhite;}
}

.bg {
  --hue-value: 10deg;
  --blur-value: 10rem;
  position: absolute;
  z-index: -5;
  opacity: 0;
  filter: blur(20rem) hue-rotate(0deg);
}

.navigation-bar-wrapper{
  @include flexbox();
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100vw;
  height: 3rem;

  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: $main-spacing / 1.5;
  border-bottom: 1px solid rgba($darkBlue, 0.5);
}

.navigation-bar-spacer {
  position: relative;
  height: 3rem;
  padding: $main-spacing / 2;
}

.navigation-bar {
  @include flexbox(row, space-between, center);
  padding: 0 6rem;
  width: 100vh;
  height: 100%;

  .menu {
    @include flexbox(row);
    padding: 0;
    margin: 0;
    gap: 2rem;
    height: 100%;

    a, button {
      @include font-setup(1rem, 200, 1em, 0.05em);
    }

    .menu-links {
      @include flexbox(row, space-between, center);
      gap: 1rem;
    }
  }

  .logo {
    @include flexbox(row, start, center);
    height: 100%;

    img {
      height: 100%;
    }
  }

  .button-menu {
    display: none;
  }
}

button {
  @include font-setup(1rem, 300, 1em, 0.03em);
  position: relative;
  border-radius: 10rem;
  border: 0.15em solid transparent;
  &:hover {cursor: pointer;}
  transition: all 0.2s;

  &.button-primary {
    @include font-setup(1.25rem, 400);
    background: $lightBlue;
    padding: 0.75em 1.25em;

    &.special {
      box-shadow: 0 0 1em rgba($lightBlue, 1);
      text-shadow: 0 0 0 rgba(white, 0);

      &::after {
        opacity: 1;
        content: '';
        position: absolute;
        z-index: -1;
        top: -0.25em;
        left: -0.25em;
        width: calc(100% + 0.5em);
        height: calc(100% + 0.5em);
        border-radius: 10em;
        filter: blur(1em);
        background: conic-gradient(from var(--gradient-angle),
                rgba(#1395ff, 0) 0%,
                rgba(#1395ff, 0) 24.5%,
                rgba(#1395ff, 1) 25%,
                rgba(#1395ff, 1) 49.5%,
                rgba(#1395ff, 0) 50%,
                rgba(#1395ff, 0) 74.5%,
                rgba(#1371ff, 1) 75%,
                rgba(#1371ff, 1) 100%,
        );
        animation: border-rotate 10s infinite linear;
        transition: all 1s ease-out;
      }
    }

    &:hover {
      background: #1395ff;
      border-color: #1395ff;
      box-shadow: 0 0 1em rgba($lightBlue, 1);
      text-shadow: 0 0 1em rgba(white, 1);
    }
  }

  &.button-ghost {
    background-color: transparent;
    padding: 0.5em 1.25em;
    border-color: $lightBlue;
    &:hover {background-color: $lightBlue}
  }
}

.header-wrapper {
  @include flexbox();
  gap: $main-spacing / 2;
}

.img-container {
  @include flexbox();
  box-sizing: border-box;
  width: 100%;
  overflow: clip;

  img {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4rem;
  }
  .small {width: 50%;}
}

.img-container, .card {
  border: solid $darkBlue 0.15rem;
  box-shadow: 0 2rem 3rem -1rem rgba(black, 0.5);
  border-radius: $main-spacing;
}

.wrapper-horizontal {
  @include flexbox(row, start, center);
  padding: 0 $main-spacing;
  gap: $main-spacing;

  &.payment-type {
    gap: $main-spacing / 2;
    p {
      transition: opacity 0.2s;
      @include font-setup(1.5rem, 500);
    }
  }
}

.cards-container {
  @include flexbox(row, center, stretch);
  flex-wrap: wrap;
  gap: $main-spacing;
  width: 100%;

  div:nth-of-type(1), div:nth-of-type(4) {
    width: 30%;
  }
  div:nth-of-type(2), div:nth-of-type(3) {
    width: 40%;
  }
}

section.welcome {
  height: calc(100svh - 6rem);
  //perspective: 50rem;
  .img-container {
    position: absolute;
    z-index: -1;
    bottom: 24rem;
    opacity: 1;
    //transform: rotate3d(1, 0, 0, 10deg);
    //animation: show-from-bottom 1s forwards;
    animation: none;
    border: none;
    width: 150%;
    //border: none;
    filter: blur(0.2rem);
    box-shadow: none;

    img {
      mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      background-color: transparent;
    }
  }
  .bg {
    width: 200%;
    height: 70vh;
    rotate: -20deg;
    top: -40vh;
    left: -50vw;
    animation: opacity-in 2s forwards;
  }
}

section.tools {
  .bg:nth-of-type(1) {
    --hue-value: 20deg;
    right: 0;
    top: 10%;
    height: 50%;
    width: 50%;
  }
  .bg:nth-of-type(2) {
    --hue-value: 30deg;
    left: 0;
    bottom: 10%;
    height: 20%;
    width: 60%;
  }

  .header-wrapper {
    .p2 {
      width: 70%;
      text-wrap: pretty
    }
    h3 {
      opacity: 0
    }
  }
  .wrapper-horizontal {
    @include flexbox(row, space-between,center);
    box-sizing: border-box;
    width: 80%;
    padding: 0 ($main-spacing * 2);

    .img-container {width: 40%}

    .header-wrapper.trading-tools {
      @include flexbox(column, center, start);
      gap: 1rem;
      width: 50%;
      text-align: left;
      .p3 {
        width: fit-content;
        text-wrap: pretty;
      }
    }

    .header-wrapper.financial-overview {
      @include flexbox(column, end, end);
      gap: 1rem;
      width: 50%;
      text-align: right;
      .p3 {
        width: fit-content;
        text-wrap: balance;
      }
    }
  }
}

section.assistance {
  .bg:nth-of-type(1) {
    --hue-value: 20deg;
    top: 30%;
    left: 0;
    width: 50%;
    height: 20%;
  }
  .bg:nth-of-type(2) {
    top: 30%;
    right: 0;
    width: 50%;
    height: 80%;
    bottom: 0;
  }

  .danger-button {
    display: none;
  }

  .p2 {
    width: 60%;
  }

  .card {
    @include flexbox(column, start, start);
    position: relative;
    padding: $main-spacing;
    gap: $main-spacing / 2;
    border-radius: calc($main-spacing - 0.15rem);
    background-color: rgba(0, 0, 0, 0.7);
    overflow: clip;

    .p4 {
      text-align: left;
      word-spacing: 0.2em;
      width: 100%;
    }

    h4 {
      text-align: left;
    }

    img {
      bottom: -2rem;
      right: -2rem;
      position: absolute;
      opacity: 0.05;
      height: 18rem;
    }
  }

  .danger-info {
    @include flexbox(row, center, start);
    box-sizing: border-box;
    width: 100%;
    gap: $main-spacing / 2;
    padding: 0 $main-spacing * 4;

    p {
      text-align: justify;
      width: fit-content;
    }

    img {
      height: 2rem;
    }
  }
}

section.statistics {
  .bg {
    --hue-value: 30deg;
  }

  .wrapper-horizontal {
    @include flexbox(row, space-between, center);
    gap: $main-spacing;
    padding: 0;
  }

  .button-primary {
    margin-top: $main-spacing;
  }

  h2 {width: fit-content;}

  .p2 {
    width: 90%;
    text-wrap: pretty;
  }
  img {height: 100%;}
}

section.subscription {
  .bg {
    --hue-value: 20deg;
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  h2 {
    width: fit-content;
    text-wrap: balance;
  }

  .header-wrapper {
    gap: $main-spacing;
    width: 100%;
  }

  .subscription-container {
    @include flexbox(row, center, center);
    width: 100%;
    gap: $main-spacing / 2;
  }

  .sub-card {
    @include flexbox();
    z-index: 5;
    padding: $main-spacing * 1.5;
    gap: $main-spacing / 2;

    background: rgba(black, 0.5);
    border-radius: $main-spacing;
    width: 25% !important;
    opacity: 0;
    transform: scale(0.95);
    box-shadow: rgba($lightBlue, 0) 0 4rem 0 -5rem;
    transition: all 0.3s;
    border: 0.1em solid transparent;

    .button-ghost {
      border-color: rgba(white, 0.5);

      &:hover {
        background-color: $lightBlue;
        border-color: rgba($lightBlue, 0.5);
      }
    }

    &:hover {
      z-index: 5;
      transform: scale(1);
      box-shadow: rgba($lightBlue, 1) 0 4rem 8rem -5rem;
      background: rgba(black, 0.6);

      //& .button-ghost {
      //  background-color: $lightBlue;
      //}
    }

    &.special {
      transform: scale(1);
      background-color: rgba($lightBlue, 0.5);

      &:hover {
        transform: scale(1.05);
        background-color: rgba($lightBlue, 0.7);
      }
    }

    h3 {font-weight: 600;}

    p {
      @include font-setup(1.5rem, 400);
      text-align: left;
      width: 100%;
    };

    .separator {
      background-color: white;
      width: 100%;
      height: 0.05rem;
    }

    .price-tag {
      @include flexbox(column, start, start);
      gap: $main-spacing / 2;
      width: 100%;

      div:nth-child(1) {
        @include flexbox(row, start, end);
        font-size: 1rem;
        padding: 0;
        gap: $main-spacing / 2;

        :nth-child(1) {
          @include font-setup(4rem, 600);
        }
        :nth-child(2) {
          @include font-setup(2rem, 600, 1.4em);
        }
      }
      div:nth-child(2) {
        @include flexbox(row, start, start);
        width: fit-content;
        gap: $main-spacing / 4;

        p:nth-child(1) {
          @include font-setup(1.5rem, 200, 1em, 0.04em);
          text-align: left;
          text-wrap: nowrap;
          color: white;
          text-decoration-color: white;
          text-decoration: line-through;
          text-decoration-thickness: 0.1em;
          display: none;
          opacity: 0.5;
        }
        p:nth-child(2) {
          @include font-setup(1.5rem, 200, 1em, 0.04em);
          text-align: left;
          text-wrap: nowrap;
          color: white;
        }
      }
    }

    .sub-items {
      @include flexbox(column, start, start);
      width: 100%;
      gap: 0;
    }

    .list-item {
      @include flexbox(row, start, center);
      width: 100%;
      gap: $main-spacing / 2;

      img {height: 100%;}

      p {
        @include font-setup(1.2rem, 300, 1em, 0.1em);
      }
    }
  }

  .button-ghost {
    padding: 0.75em 1.5em;
  }

  .button-subscription-type {
    @include flexbox(row, start, start);
    font-size: 1rem;
    z-index: 2;
    position: relative;
    gap: $main-spacing;
    opacity: 0;
    //background-color: $darkBlue;
    background-color: transparent;
    border: 0.15em $darkBlue solid;
    padding: 1em 1.5em;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    transition: background-color 0.3s;
    overflow: clip;
    &:hover {cursor: pointer;}

    p {
      z-index: 1;
      user-select: none;
      font-weight: 400;
    }

    .button-ball {
      position: absolute;
      z-index: 0;
      width: calc(50% + 0.25em);
      height: calc(100% - 0.5em);
      left: 50%;
      top: 0.25em;
      border-radius: 10em;
      background: $lightBlue;
      //background-color: $lightBlue;
      transition: all 0.3s;
    }
  }

}

section.footer {
  background-color: $darkGrey;
  width: 100%;
  overflow: clip;
  text-align: left;
  padding: 3rem 0;

  p, a {
    @include font-setup(1rem, 100, 1.2em, 0.1em);
  }

  .footer-container{
    @include flexbox(row, start, stretch);
    position: relative;
    height: 8rem;
    width: 100vh;
    gap: 2rem;
    padding: 0 6rem;

    .footer-icon {
      width: 2.5rem;
      height: 2.5rem;
    }

    .logo-medium {
      height: 100%;
      opacity: 0.5;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .social {
      @include flexbox(column, start, start);
      gap: 1rem;
    }

    .shortcuts {
      @include flexbox(column, start, start);
      gap: 1rem;

      div {
        @include flexbox(column, space-between, start);
        height: 100%;
      }
    }

    .contact {
      @include flexbox(column, stretch, start);
      gap: 1rem;
      height: 100%;
      //border: 1px solid red;

      .contact-wrapper {
        @include flexbox(column, start, start);
        width: 100%;
        height: 100%;
        gap: 1rem;

        .contact-line {
          @include flexbox(row, start, center);
          gap: 1rem;
          width: 100% !important;
          p {
            width: 100%;
            height: 100%;
          }
          img {
            display: block;
            height: 2.5rem;
            width: 2.5rem;
            opacity: 1;
          }
        }
      }
    }
  }

  .social-icons {
    @include flexbox(row, space-between, center);
    gap: $main-spacing / 2;
    z-index: 1;
  }

  .vr {
    width: 0.15rem;
    background-color: white;
    opacity: 0.2;
  }

  p:nth-child(1) {font-weight: 400;}

  svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.2s;
    * {transition: fill-opacity 0.2s;}
  }

  svg:hover {
    transform: translateY(-10%);
    cursor: pointer;
    * {
      fill-opacity: 1;
    }
  }

  .logo {
    position: absolute;
    opacity: 0.03;
    height: 250%;
    right: 6rem;
    bottom: 50%;
    transform: translateY(50%);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

//animation triggers

h2, .p2, .p3, .p5,
.img-container, .card {
  opacity: 0;
  transform: translateY(20%);
}

.sub-card {
  &:nth-child(1) {--delay: 0.1s}
  &:nth-child(2) {--delay: 0.2s}
  &:nth-child(3) {--delay: 0.3s} }

.sub-card-animate {animation: show-sub-card 1s var(--delay) forwards}
.start-animate {animation: show-from-bottom 1s forwards;}
.p-start-animate {animation: p-show-from-bottom 1s forwards;}
.start-animate-left {animation: show-from-left 1s forwards;}
.start-animate-right {animation: show-from-right 1s forwards;}
//.card-start-animate {animation: card-show 0s forwards}
.bg-start-animate {animation: opacity-in 2s forwards;}
