
:root {
    --bg: #0F0F0F;
    --lightBlue: #0088CF;
    --darkBlue: #122246;
    --padding: 1rem;

    --fontsize-h1: 7rem;
    --fontsize-h2: 4rem;
    --fontsize-p1: 1rem;
    --fontsize-p2: 2rem;
}

@media (scale: 2)

/*thats for animated gradient on primary button*/
@property --color1 {
    syntax: '<color>';
    initial-value: #0088CF;
    inherits: false;
}

@property --color2 {
    syntax: '<color>';
    initial-value: #0088CF;
    inherits: false;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: var(--bg);
    width: 100vw;
    height: 200vh;
    overflow-x: clip;
    text-align: center;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;

    width: 100vh;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}

h1 {
    font-weight: 700;
    font-size: var(--fontsize-h1);
    line-height: var(--fontsize-h1);
    text-wrap: balance;
    margin: 0;
    padding: 0;
}

p {
    font-weight: 100;
    font-size: var(--fontsize-p2);
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
}



a {
    text-decoration: none;
    font-size: var(--fontsize-p1);
}

.navigation-bar  {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 1;
    width: 100vw;
    height: 3rem;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: var(--padding);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100vh;

    border: 1px solid red;
    padding: 0 var(--padding);
}

.menu > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /*width: 40vh;*/
    height: 100%;
    line-height: 1rem;
    font-weight: 500;
    /*border: 1px solid red;*/
}



.logo {
    background: linear-gradient(135deg, var(--lightBlue) 50%, white 50%);
    width: 12rem;
    height: 3rem;
}

button {
    border-radius: 10rem;
    padding: 0.25rem 0.5rem;
    font-size: var(--fontsize-p1);
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}

.button-ghost {
    background-color: transparent;
    border: 2px solid var(--lightBlue);
    transition: background-color 0.2s;
}

.button-ghost:hover {
    background-color: var(--lightBlue);
}

.button-primary {
    background: linear-gradient(135deg, var(--color1), var(--color2));
    transition: --color1 0.5s, --color2 0.2s;
}

.button-primary:hover {
    --color2: var(--darkBlue);
}

.bg {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 70vh;
    rotate: -20deg;
    top: -40vh;
    left: -50vw;
    filter: blur(10vh);
}

.welcome {
    padding-top: calc(5rem + var(--padding));
}