
@keyframes parallax
  to
    transform: translateY(var(--parallax-y)) translateX(var(--parallax-x))

@keyframes path-scroll
  to
    stroke-dashoffset: var(--path-offset)

@keyframes opacity-in
  to
    opacity: 1

@keyframes leaf-rotate
  to
    transform: rotate(0deg)
