
$greenMid: #7E9156
$greenDark: #58643D
$greyLight: #EBEBEB

$jumpyEasing: cubic-bezier(0, 1.5, 0.8, 1)


*
  font-family: 'Agenor Neue', sans-serif

p
  font-family: 'Quicksand Medium', sans-serif


@mixin font-setup ($fontSize: 1em, $fontWeight: 100, $lineHeight: 1em, $letterSpacing: 0em, $wordSpacing: 0em)
  font-size: $fontSize
  font-weight: $fontWeight
  line-height: $lineHeight
  letter-spacing: $letterSpacing
  word-spacing: $wordSpacing


@mixin flexbox ($direction: column, $justify: center, $align: center, $wrap: nowrap)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap


body
  @include flexbox (column, start, center)
  font-size: 16px
  padding: 0
  margin: 0
  width: 100vw
  height: 200vh
  background-color: white
  overflow-x: clip

  &::-webkit-scrollbar
    display: none


h1
  @include font-setup(8rem, 600, 1.1em, -0.03em, 0.1em)
  display: inline
  margin: 0
  color: white
  text-align: center


p
  @include font-setup(3.125rem, 100, 1.3em, 0em)
  margin: 0
  padding: 0
  color: white
  word-spacing: 0.1em


button
  border: none
  background-color: $greenMid
  border-radius: 0.2em 1em
  color: white
  box-sizing: border-box
  padding: 0.5em 1em
  transition: all 0.3s ease

  @include font-setup(2rem, 300)

  &:hover
    cursor: pointer


.header-wrapper
  @include flexbox
  position: relative
  margin: 0
  gap: 2rem


.nav-bar
  @include flexbox(row, start, center)
  position: fixed
  z-index: 10
  box-sizing: border-box
  width: 100%
  height: 2rem
  background-color: rgba(white, 0.7)
  backdrop-filter: grayscale(0) blur(6px)
  padding: 2rem 32rem
  border-bottom: 1px solid rgba(white, 0.5)
  display: none

  .logo-icon
    height: 2rem
    width: 2rem
    fill: $greenDark

  .menu
    @include flexbox(row, space-between, center)
    gap: 2rem
    p
      @include font-setup(1.5rem, 400)
      color: $greenDark
      user-select: none
      transition: color 0.2s

      &:hover
        cursor: pointer
        color: $greenMid


.ivy-bg
  position: absolute
  z-index: 5
  user-select: none
  right: -24vw
  top: 0
  height: 120vh
  scale: -1 1
  --parallax-y: -30%
  --parallax-x: 0
  animation: parallax 1s 0s linear
  animation-timeline: scroll()

  &.left
    --parallax-y: -10%
    --parallax-x: 0
    top: -10vh
    left: -46vw


.bg-img
  position: fixed
  z-index: -5
  width: 100%
  left: 0
  top: 0
  overflow: clip
  scale: 2
  filter: blur(3px)
  --parallax-x: 0
  --parallax-y: 5%
  animation: parallax 1s linear
  animation-timeline: scroll()


section
  @include flexbox
  position: relative
  box-sizing: border-box
  width: 100%
  margin: 0
  padding: 6rem 32rem
  gap: 2rem
  background-color: $greenMid

  .wrap-horizontally
    @include flexbox (row, space-between, center)
    gap: 4rem

    .img-container
      position: relative
      width: 50rem
      height: 50rem
      scale: -1 1
      --angle: 15deg

      &::after
        position: absolute
        content: ''
        z-index: -1
        --angle: 10deg
        width: 100%
        height: 100%
        transform-origin: bottom left
        bottom: 0
        left: 0
        background: $greenMid
        border-radius: 40rem 0
        animation: leaf-anim 1s forwards paused

      img
        --angle: 0deg
        width: 100%
        border-radius: 40rem 0
        transform-origin: bottom left
        animation: leaf-anim 1s forwards paused

    .header-wrapper
      font-size: 8rem
      width: 10ch
      text-align: center

      p
        font-size: 0.4em
        width: 34rem

      &::after
        content: ''
        position: absolute
        --angle: 0deg
        z-index: -1
        background: $greyLight
        border-radius: 24rem 0
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        width: 30rem
        height: 30rem
        animation: leaf-anim 1s forwards paused


section.main-header
  align-items: start
  width: 100%
  background-color: rgba(black, 0.8)

  p
    @include font-setup(3rem, 500)
    width: 100%
    text-align: right
    color: white

  .logo
    gap: 0.5rem

    svg
      height: 8rem
      fill: white


section.welcome
  .header-wrapper
    align-items: start
    width: 50%
    p
      width: 100%
      text-wrap: pretty
      color: $greenMid


section.quality
  .wrap-horizontally
    .header-wrapper

      &::after
        scale: -1 1
        transform-origin: left bottom

    .img-container
      transform: scaleX(-1)


.section-special
  @include flexbox(column, start, start)
  background-color: white

  .header-wrapper
    @include flexbox(column, start, start)
    width: 50%

  p, h1
    color: $greenMid

  h1
    font-weight: 300

    &:nth-of-type(even)
      font-weight: 500
      letter-spacing: 0


.animate-on-scroll
  &::after, img
    opacity: 0
    transition: opacity 1s

.trigger-animation
  &::after, img
    opacity: 1
    animation-play-state: running !important
