
$greenMid: #7E9156
$greenDark: #6F804C
$greenDarker: #536039
$greyLight: #EBEBEB
$jumpyEasing: cubic-bezier(0, 1.5, 0.8, 1)

*
  font-family: 'Quicksand', sans-serif
  margin: 0
  cursor: default
  -webkit-user-select: none
  -webkit-user-drag: none


@mixin font-setup ($fontSize: 1em, $fontWeight: 100, $lineHeight: 1em, $letterSpacing: 0em, $wordSpacing: 0em)
  font-size: $fontSize
  font-weight: $fontWeight
  line-height: $lineHeight
  letter-spacing: $letterSpacing
  word-spacing: $wordSpacing


@mixin flexbox ($direction: column, $justify: center, $align: center, $wrap: nowrap)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap
  gap: 2rem


body
  width: 100vw
  background-color: $greenMid
  overflow-x: clip

  &::-webkit-scrollbar
    display: none


button
  border: none
  background-color: $greenMid
  border-radius: 0.2em 1em
  color: white
  box-sizing: border-box
  padding: 0.5em 1em

  @include font-setup(2rem, 400)

  &:hover
    cursor: pointer


nav
  @include flexbox(row, start, center)
  position: fixed
  z-index: 4
  box-sizing: border-box
  width: 100%
  height: 2rem
  background-color: rgba(white, 1)
  backdrop-filter: grayscale(0) blur(6px)
  padding: 3rem 28rem

  .logo-icon
    height: 3rem
    width: 3rem
    fill: $greenDark


  .menu
    @include flexbox(row, space-between, center)
    gap: 3rem
    p
      @include font-setup(2rem, 500)
      color: $greenMid
      user-select: none
      transition: color 0.2s

      &:hover
        cursor: pointer
        color: $greenDark


section
  @include flexbox(column, center, center)
  position: relative
  box-sizing: border-box
  width: 100%
  margin: 0
  padding: 12rem 28rem

  div
    @include flexbox(row, center, center)
    gap: 8rem
    width: 100%
    height: 100%
    div
      flex: 1


section.quality
  .img-wrapper
    transform: scaleX(-1)

  .header-container::after
    scale: -1 1
  .header-container::before
    scale: -1 1
    right: 0
    bottom: 0
    rotate: 12deg

.header-container
  @include flexbox(column, center, center)
  text-align: center
  position: relative
  width: 100%
  height: 100%

  h1, span, .button
    @include font-setup(8rem, 400, 1em, -0.02em)
    font-family: 'Agenor Neue', sans-serif
    color: white
    text-align: center
    width: 100%

  p
    @include font-setup(3.125rem, 300, 1.2em, 0.02em)
    color: white
    text-wrap: balance
    animation-delay: 0.2s


  &::after, &::before
    content: ''
    position: absolute
    z-index: -1
    background: $greenDark
    opacity: 1
    border-radius: 32rem 0
    width: 40rem
    height: 40rem

  &::before
    //background: red
    right: -4rem
    bottom: -6rem
    width: 16rem
    height: 12rem
    rotate: 4deg


section.section-white
  align-items: start
  background-color: white

  .header-container
    width: 60%
    align-items: start

    p, h1, span
      font-weight: 300
      color: $greenMid
      text-align: left
      text-wrap: balance
      line-height: 1.05em

    span
      //color: red
      font-weight: 500

    p
      font-size: 4rem
      font-weight: 400
      width: 100%

.img-wrapper
  position: relative
  width: 50rem
  height: 50rem
  scale: -1 1

  img
    box-sizing: border-box
    position: absolute
    bottom: 0
    right: 0
    //transform: translate(-50%, -50%)
    width: 100%
    border-radius: 34rem 0
    clip-path: circle(0% at 0% 100%)
    //animation: clip-circle 2s forwards paused
    border: 2rem solid $greenMid
    transform-origin: bottom left
    animation: leaf-rotate 1s 0.2s ease forwards paused, clip-circle 1s 0.2s ease-out forwards paused
    transition: transform 0.2s ease
    transform: rotate(-10deg)

  .leaf-shadow, .leaf-shadow-right
    position: absolute
    transform-origin: bottom left
    width: 100%
    height: 100%
    z-index: -1
    background-color: $greenDark
    border-radius: 34rem 0
    transform: rotate(-20deg)
    rotate: 10deg
    clip-path: circle(0% at 0% 100%)
    animation: leaf-rotate 1s 0s ease forwards paused, clip-circle 1s 0s ease-out forwards paused

  .leaf-shadow-right
    transform: rotate(15deg)
    rotate: 5deg

.button-wrapper
  @include flexbox()
  align-items: flex-start
  position: relative
  width: fit-content
  border-radius: 3rem

  &:hover
    .button
      transform: translateY(-1rem)
    .button-shadow
      visibility: visible
      height: 3rem
      transform: translateY(-0.5rem)

  .button, .button-shadow
    @include font-setup(2.5rem, 300, 1em, 0em)
    font-family: "Agenor Neue", sans-serif

    position: relative
    color: white
    background-color: $greenMid
    padding: 1rem 2.5rem
    width: 12rem
    height: 2.5rem
    border-radius: 3rem
    z-index: 1
    transition: all 0.2s 0s ease
    cursor: pointer

  .button-shadow
    background-color: $greenDark
    position: absolute
    top: 0
    left: 0
    z-index: 0
    visibility: hidden

.ivy-bg
  position: absolute
  z-index: 5
  user-select: none
  right: -26rem
  top: 0
  height: 100rem
  scale: -1 1
  --parallax-y: -30%
  --parallax-x: 0
  animation: parallax 1s 0s linear
  animation-timeline: scroll()

  &.left
    --parallax-y: -50%
    --parallax-x: 0
    top: -12rem
    left: -72rem

.plant-body
  position: absolute
  z-index: -1
  left: 50%
  top: -5%
  height: 105%
  transform-origin: top center
  scale: -3 3
  translate: -50% 0
  --path-offset: -128%
  animation: path-scroll 1s linear
  animation-timeline: scroll()
  stroke-dashoffset: 60%
  stroke-dasharray: 60%
  stroke-linecap: round

section.download
  .button, .button-shadow
    width: 16rem

.placeholder
  @include flexbox
  @include font-setup(4rem, 400)
  $color: #8c3a3a
  border: 0.75rem dotted $color
  color: $color
  border-radius: 2rem
  text-align: center
  padding: 4rem 4rem
  flex: 0.5 1


.circle-clip
  animation: clip-circle 1s ease-in forwards paused

  &.right
    clip-path: circle(0% at 100% 100%)

  &.left
    clip-path: circle(0% at 0% 100%)


.text-animate-on-scroll
  opacity: 0

.trigger-animation
  img, p, h1, div
    animation-play-state: running !important

