* {
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 200vh;
  background-color: #7E9156;
  overflow-x: clip;
}
body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.5ch;
  letter-spacing: -0.01em;
  word-spacing: 0.1em;
  font-family: "Agenor Neue", sans-serif;
  margin: 0;
  color: white;
  text-align: center;
}

p {
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 0em;
  word-spacing: 0em;
  margin: 0;
  padding: 0;
  color: white;
  word-spacing: 0.1em;
}

button {
  border: none;
  background-color: #7E9156;
  border-radius: 0.2em 1em;
  color: white;
  box-sizing: border-box;
  padding: 0.5em 1em;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  word-spacing: 0em;
}
button:hover {
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
  gap: 2rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  background-color: white;
  backdrop-filter: grayscale(0) blur(6px);
  padding: 2rem 32rem;
  box-shadow: 0 0 6rem 1rem rgba(0, 0, 0, 0.2);
}
.nav-bar .logo-icon {
  height: 2rem;
  width: 2rem;
  fill: #6F804C;
}
.nav-bar .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
.nav-bar .menu p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0em;
  word-spacing: 0em;
  color: #536039;
  user-select: none;
  transition: color 0.2s;
}
.nav-bar .menu p:hover {
  cursor: pointer;
  color: #6F804C;
}

.bg-img {
  position: fixed;
  z-index: -5;
  width: 100%;
  left: 0;
  top: 0;
  overflow: clip;
}

.ivy-bg {
  position: absolute;
  z-index: 5;
  user-select: none;
  right: -24vw;
  top: 0;
  height: 120vh;
  scale: -1 1;
  --parallax-y: -30%;
  --parallax-x: 0;
  animation: parallax 1s 0s linear;
  animation-timeline: scroll();
}
.ivy-bg.left {
  --parallax-y: -10%;
  --parallax-x: 0;
  top: -10vh;
  left: -46vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 8rem 32rem;
  gap: 2rem;
}

.wrap-horizontally {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}
.wrap-horizontally .header-wrapper {
  font-size: 8rem;
  width: 10ch;
  text-align: center;
}
.wrap-horizontally .header-wrapper p {
  font-size: 0.4em;
  width: 100%;
  text-wrap: balance;
}
.wrap-horizontally .header-wrapper::after {
  content: "";
  position: absolute;
  --angle: 0deg;
  z-index: -1;
  background: #6F804C;
  opacity: 1;
  border-radius: 24rem 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30rem;
  height: 30rem;
  animation: leaf-anim 1s forwards paused;
}

.img-container {
  position: relative;
  width: 50rem;
  height: 50rem;
  scale: -1 1;
  --angle: 15deg;
}
.img-container::after {
  position: absolute;
  content: "";
  z-index: -1;
  --angle: 10deg;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  bottom: 0;
  left: 0;
  background: #6F804C;
  border-radius: 40rem 0;
  animation: leaf-anim 1s forwards paused;
}
.img-container img {
  --angle: 0deg;
  width: 100%;
  border-radius: 40rem 0;
  transform-origin: bottom left;
  animation: leaf-anim 1s forwards paused;
}

section.logo-header {
  align-items: start;
  width: 100%;
  padding-top: 10rem;
  background-color: rgba(0, 0, 0, 0.7);
}
section.logo-header p {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0em;
  word-spacing: 0em;
  width: 100%;
  text-align: right;
  color: white;
}
section.logo-header .logo {
  gap: 0.5rem;
}
section.logo-header .logo svg {
  height: 8rem;
  fill: white;
}

section.welcome .header-wrapper {
  align-items: start;
  width: 50%;
}
section.welcome .header-wrapper p {
  width: 100%;
  text-wrap: pretty;
  color: #7E9156;
}

section.quality .wrap-horizontally .header-wrapper::after {
  scale: -1 1;
  transform-origin: left bottom;
}
section.quality .wrap-horizontally .img-container {
  transform: scaleX(-1);
}

.section-white {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  background-color: white;
}
.section-white .header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  width: 50%;
}
.section-white p, .section-white h1 {
  color: #7E9156;
  text-align: left;
}

.plant-line {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.animate-on-scroll::after, .animate-on-scroll img {
  opacity: 1;
  transition: opacity 1s;
}

.trigger-animation::after, .trigger-animation img {
  opacity: 1;
  animation-play-state: running !important;
}

/*# sourceMappingURL=style.css.map */
